.marg {
    font-family: "Lato","Lucida Sans",sans-serif, ;
    font-size: 23px;
    margin-left: 440px;
    width: 640px;
    padding-right: 20px;
    padding-left: 20px;
    position: fixed;
    top: 56px;
    /*border-radius: 4%;*/
    /*background: hsl(60, 70%, 95%);*/
    background: rgba(251, 251, 233, 0.9);
}
.hd {
    font-family: "Lato","Lucida Sans",sans-serif, ;
    margin-left: 440px;
    width: 640px;
    position: fixed;
    height: 44px;
    top: 12px;
    padding-top: 7px;
    paddint-bottom: 7px;
    padding-right: 20px;
    padding-left: 20px;
    /*background: hsl(200, 100%, 15%);*/
    background-color: hsl(0, 25%, 30%);
    /*background: hsl(40, 100%, 20%);*/
}

h{
    text-align: left;
    font-size: 30px;
    /*color: #5F584E;*/
    color: white;
}

body.backgr{
    /*background-image:url("http://www.math.cornell.edu/~mec/Winter2009/Mihai/section8_files/72-Day_and_Night.jpg");*/
    background-image:url("bck.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;     
}

.button {
    /* hsl(24, 20%, 60%);, hsl(31, 68%, 36%);*/
    background-color: background-color: hsl(0, 25%, 30%);
    border: none;
    color: white;
    padding: 9px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}  

