div.marg {
    font-family: Verdana, Geneva, sans-serif;
    margin-left:25%;
    margin-right:25%;
    padding:1px 16px;
    height:1000px;
    background-color: #f1f1f1;
}

body.backgr{
    background-color: hsl(240, 50%, 95%);
}
