body {
    font-family: "Lato", sans-serif;
    width:94%;
    overflow: hidden;
}

#main {
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    font-size: 23px;    
    transition: margin-top .5s;
    padding: 16px;
    margin-top: 52px;
    font-family: "Lato", sans-serif; 
}
