body {
    font-family: "Lato", sans-serif;
    width:94%;
    overflow: hidden;
}
.topnav {
    height: 52px;
    position: fixed;
    z-index: 1;
    top: 0;
    left:3%;
    background-color: #111;
    overflow: hidden;
    transition: 0.5s;
    width: inherit;
}
.menu a,span {
    padding: 8px 8px 8px 26px;
    text-decoration: none;
    font-size: 23px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.menu a:hover {
    color: #f1f1f1;
}
.menu span:hover {
    color: #f1f1f1;
}
#main {
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    font-size: 23px;    
    transition: margin-top .5s;
    padding: 16px;
    margin-top: 52px;
    font-family: "Lato", sans-serif; 
}
