.marg {
    font-family: "Lucida Sans", Arial,sans-serif, ;
    font-size: 16px;
    margin-left:25 px;
    margin-right:25 px;
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    /*border-radius: 4%;*/
    /*background-color: hsl(60, 70%, 95%);*/
    background: rgba(251, 251, 233, 0.9);
}

@media only screen and (max-width: 1000px) {
    .marg{
        position:absolute; 
        top: 200px;
    }
}

h1{
    font-size: 40px;
    /*color: #5F584E;*/
    color: hsl(0, 25%, 30%);
}

body.backgr{
    /*background-image:url("http://www.math.cornell.edu/~mec/Winter2009/Mihai/section8_files/72-Day_and_Night.jpg");*/
    background-image:url("bck.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;     
}

.button {
    /* hsl(24, 20%, 60%);, hsl(31, 68%, 36%);*/
    background-color: hsl(0, 20%, 30%);
    border: none;
    color: hsl(36, 20%, 97%);
    padding: 0.5em 0.7em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}  
